In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data_cleaned.csv")
df1 = pd.read_json("data_cleaned.json")
df2 = pd.read_json("csvjson.json")


df.equals(df2)
# df.equals(df1)

False

In [5]:
pd.concat([df,df2]).drop_duplicates(keep=False)

,ID,Name,Age,Value,Wage,Preferred_Foot,Weak_Foot,Trick_Skills,Work_Rate,Position,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,Work_Rate_A,Work_Rate_D,Position_cat,Basic_Player,Position_Stat
0,158023,L. Messi,31,110500000,565000,Left,4,4,Medium/ Medium,RF,...,75,96,33,28,26,Medium,Medium,1,1,91
1,20801,Cristiano Ronaldo,33,77000000,405000,Right,4,5,High/ Low,ST,...,85,95,28,31,23,High,Low,1,1,91
2,190871,Neymar Jr,26,118500000,290000,Right,5,5,High/ Medium,LW,...,81,94,27,24,33,High,Medium,1,1,88
3,192985,K. De Bruyne,27,102000000,355000,Right,5,4,High/ High,RCM,...,79,88,68,58,51,High,High,2,1,88
4,183277,E. Hazard,27,93000000,340000,Right,4,4,High/ Medium,LF,...,86,91,34,27,22,High,Medium,1,1,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15913,238813,J. Lundstram,19,60000,1000,Right,2,2,Medium/ Medium,CM,...,43,45,40,48,47,Medium,Medium,2,0,45
15914,243165,N. Christoffersson,19,60000,1000,Right,2,2,Medium/ Medium,ST,...,43,42,22,15,19,Medium,Medium,1,0,45
15915,241638,B. Worman,16,60000,1000,Right,3,2,Medium/ Medium,ST,...,55,41,32,13,11,Medium,Medium,1,0,45
15916,246268,D. Walker-Rice,17,60000,1000,Right,3,2,Medium/ Medium,RW,...,50,46,20,25,27,Medium,Medium,1,0,47
15917,246269,G. Nugent,16,60000,1000,Right,3,2,Medium/ Medium,CM,...,33,43,40,43,50,Medium,Medium,2,0,47

In [25]:
df.head()

,ID,Name,Age,Value,Wage,Preferred_Foot,Weak_Foot,Trick_Skills,Work_Rate,Position,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,Work_Rate_A,Work_Rate_D,Position_cat,Basic_Player,Position_Stat
0,158023,L. Messi,31,110500000,565000,Left,4,4,Medium/ Medium,RF,...,75,96,33,28,26,Medium,Medium,1,1,91
1,20801,Cristiano Ronaldo,33,77000000,405000,Right,4,5,High/ Low,ST,...,85,95,28,31,23,High,Low,1,1,91
2,190871,Neymar Jr,26,118500000,290000,Right,5,5,High/ Medium,LW,...,81,94,27,24,33,High,Medium,1,1,88
3,192985,K. De Bruyne,27,102000000,355000,Right,5,4,High/ High,RCM,...,79,88,68,58,51,High,High,2,1,88
4,183277,E. Hazard,27,93000000,340000,Right,4,4,High/ Medium,LF,...,86,91,34,27,22,High,Medium,1,1,89

In [26]:
duplicateRowsDF = df[df.duplicated(['ID'])]

In [27]:
print(duplicateRowsDF)

Empty DataFrame
Columns: [ID, Name, Age, Value, Wage, Preferred_Foot, Weak_Foot, Trick_Skills, Work_Rate, Position, Jersey_Number, Contract_Valid_Until, Height, Weight, Striker, CentralMidfielder, SideMidfielder, WingBack, CenterBack, Crossing, Finishing, HeadingAccuracy, ShortPassing, Volleys, Dribbling, Curve, FreeKickAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, Work_Rate_A, Work_Rate_D, Position_cat, Basic_Player, Position_Stat]
Index: []

[0 rows x 52 columns]

In [28]:
len(df.ID.unique())

15918

In [29]:
df.shape

(15918, 52)

False

In [12]:
df = df.drop(['ID'], axis=1)

In [20]:
df.to_csv('data_without_id.csv', index=False)

In [14]:
df.shape

(15918, 51)

In [15]:
df.head()

,Name,Age,Value,Wage,Preferred_Foot,Weak_Foot,Trick_Skills,Work_Rate,Position,Jersey_Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,Work_Rate_A,Work_Rate_D,Position_cat,Basic_Player,Position_Stat
0,L. Messi,31,110500000,565000,Left,4,4,Medium/ Medium,RF,10,...,75,96,33,28,26,Medium,Medium,1,1,91
1,Cristiano Ronaldo,33,77000000,405000,Right,4,5,High/ Low,ST,7,...,85,95,28,31,23,High,Low,1,1,91
2,Neymar Jr,26,118500000,290000,Right,5,5,High/ Medium,LW,10,...,81,94,27,24,33,High,Medium,1,1,88
3,K. De Bruyne,27,102000000,355000,Right,5,4,High/ High,RCM,7,...,79,88,68,58,51,High,High,2,1,88
4,E. Hazard,27,93000000,340000,Right,4,4,High/ Medium,LF,10,...,86,91,34,27,22,High,Medium,1,1,89